.accordion__title {
  margin-bottom: 24px;
}

.accordion__summary {
  cursor: pointer;
  direction: rtl;
  padding: 20px 32px;
  background-color: #d9d9d9;
  font-weight: bold;
}

.accordion__summary span {
  margin-right: calc(100% - 200px);
}

.accordion__summary::marker {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="%23000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14M19 12l-7 7-7-7"/></svg>');
}

.accordion__item[open] > .accordion__summary::marker {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="%23000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5M5 12l7-7 7 7"/></svg>');
}

.accordion__content {
  padding: 32px 0;
}
