.articles-btn-add {
  margin: 40px auto auto;
  width: min(98%, 403px);
  padding: 14px 0;
  border: 1px solid #000;
  background: #fcffe7;
}

.articles-form-add {
  margin: auto;
  width: min(98%, 834px);
  padding: 32px;
  display: grid;
  row-gap: 36px;
}

.articles-form-add__line {
  display: grid;
  row-gap: 16px;
}

.articles-form-add__line > input,
.articles-form-add__line > textarea {
  border: 1px solid #000;
  background-color: #fff;
  min-height: 44px;
}

.articles-form-add__line > textarea {
  min-height: 128px;
}

.articles-form-add__actions {
  display: flex;
  justify-content: space-between;
}

.articles-form-add__cancel-action {
  padding: 14px 102px;
  border: 1px solid #000;
}

.articles-form-add__submit-action {
  padding: 14px 102px;
  border: 1px solid #000;
  background: #fcffe7;
}

@media (width <= 768px) {
  .articles-btn-add {
    width: 98%;
    padding: 10px 0;
  }

  .articles-form-add {
    width: 98%;
    padding: 20px;
  }

  .articles-form-add__actions {
    flex-direction: column;
    row-gap: 20px;
  }

  .articles-form-add__cancel-action,
  .articles-form-add__submit-action {
    padding: 10px 20px;
    width: 100%;
  }
}
