.menu {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  color: white;
}

.menu__item {
  display: flex;
  padding: 8px 12px;
  align-items: center;
}

.menu__item_active {
  background: #111827;
  border-radius: 6px;
}

@media (width < 1024px) {
  .menu__item {
    font-size: 14px;
  }
}

@media (width < 768px) {
  .menu {
    justify-content: space-between;
  }
}
